.Main {
  background: #fafafa;
  padding: 50px 0;
}

.Main--Form {
  background: #fff;
  padding: 20px 25px;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.Main--FormRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main--FormButton {
  margin-left: 50px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.Main--FormButton button {
  height: 40px;
  width: 200px;
}

.ProductsList {
  margin-top: 50px;
  width: 100%;
}

h1 {
  margin-bottom: 35px;
}

.ProductsItem {
  display: flex;
  background: #fff;
  padding: 0 25px;
  width: 100%;
  margin-bottom: 25px;
  cursor: grabbing;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.ProductsItem--Col {
  flex: 1;
}

.ProductsItem--Name {
  display: flex;
  align-items: center;
}

.ProductsItem--Name p {
  margin: 0;
}

.ProductsItem--Buttons {
  display: flex;
  justify-content: flex-end;
}